.container{
  width: 70vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: darkgoldenrod;
}
img{
  width: 50px;
}
button{
  background-color: white;
  width: 80px;
  cursor: pointer;
}